.popup-overlay {
  position: fixed;
  inset: 0;
  background-color: #000 !important;
  opacity: 1 !important; /* Asegurar que no haya transparencia */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Mantener el valor permitido */
  pointer-events: auto; /* Permitir interacción solo con el popup */
}

.popup-overlay .popup-loading {
  pointer-events: all; /* Permitir interacción con el preloader */
}

body.popup-open {
  overflow: hidden;
}

.hidden-background {
  pointer-events: none; /* Deshabilitar interacción con el fondo */
  filter: none; /* Mantener el fondo visible sin cambios */
  opacity: 1; /* Asegurar que las imágenes permanezcan visibles */
}

/* Asegurar que el contenido principal no desaparezca */
#root {
  visibility: visible; /* Mantener visible el contenido principal */
}

.popup-content {
  background-color: #ffffff !important; /* Fondo blanco sólido */
  border-radius: 20px;
  padding: 10px; /* Reducir el padding para optimizar el espacio */
  position: relative;
  width: 90%;
  max-width: 600px;
  max-height: 85vh; /* Ajusté la altura máxima para evitar cortes */
  overflow: hidden; /* Evitar el scroll */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 1) !important; /* Sombra completamente opaca */
  opacity: 1 !important; /* Sin transparencia */
}

.popup-content * {
  opacity: 1 !important; /* Forzar opacidad de todos los elementos secundarios */
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  padding: 0;
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1.5rem;
}

.popup-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0.8; /* Transparencia permitida */
}

.pokeball-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #f00 50%, #fff 50%);
  border-radius: 50%;
}