/* Estilos específicos del componente Main */
.main {
  position: relative;
  height: 500px;
  background-color: var(--color-background);
}

.main__content {
  max-width: 1280px;
  height: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  overflow: auto;
}

.main__preloader {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: var(--color-background);
}

.main__preloader-overlay {
  position: absolute;
  inset: 0;
  z-index: 2000;
  background: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
}

@media (max-width: 768px) {
  .main {
    min-height: calc(100vh - 120px);
  }

  .main__content {
    padding: 20px 10px;
  }
}